<footer id="footer" class="footer">
  <div class="footer__inner">
    <div class="footer__logo">
     CANDY GIRL @Yoshitaka Amazno
    </div>
    <div class="footer__sns">
      <a href="https://twitter.com/candygirl_nft" target="_blank" rel="noreferrer" class="footer__sns--twitter">Twitter</a>
      <a href="https://discord.com/invite/candygirl" target="_blank" rel="noreferrer" class="footer__sns--candy">Candy Girl</a>
    </div>
  </div>
</footer>
