<header id="header" class="header">
  <div class="header__inner">
    <div class="header__spbtn">
      <div class="openbtn">
        <div class="openbtn-area"><span></span><span></span><span></span></div>
      </div>
    </div>
    <h1 class="header__ttl">CANDY GIRL @Yoshitaka Amano</h1>
      <nav class="header__menu">
        <a href="#ABOUT" class="header__menu--about">ABOUT</a>
        <a href="#whats" class="header__menu--whats">What's CANDY GIRL?</a>
        <a href="#amano" class="header__menu--amano">Yoshitaka Amano</a>
        <a href="#twinplanet" class="header__menu--tp">Twin Planet</a>
        <a href="#astar" class="header__menu--astar">Astar Network</a>
        <a href="#RoadMap" class="header__menu--road">Road Map</a>
        <a href="#TEAM" class="header__menu--team">TEAM</a>
        <a href="#terms" class="header__menu--terms">TERMS</a>
        <a href="https://candygirl-mint.com/" target="_blank" rel="noopener noreferrer" class="header__menu--mint"><span>
          MINT SITE</span></a>
      </nav>

    <p class="japan"><a href="/" class="header__jpen">EN</a></p>
    <p class="english"><a href="/japanese.html" class="header__jpen">JP</a></p>
  </div>
</header>

<!-- SPのやつ -->
<div class="nav_modal" id="nav_modal">
  <nav class="header__menusp">
    <a href="#ABOUT" class="header__menusp--about">ABOUT</a>
    <a href="#whats" class="header__menusp--whats">What's CANDY GIRL?</a>
    <a href="#amano" class="header__menusp--amano">Yoshitaka Amano</a>
    <a href="#twinplanet" class="header__menusp--tp">Twin Planet</a>
    <a href="#astar" class="header__menusp--astar">Astar Network</a>
    <a href="#RoadMap" class="header__menusp--road">Road Map</a>
    <a href="#TEAM" class="header__menusp--team">TEAM</a>
    <a href="#terms" class="header__menusp--terms">TERMS</a>
    <!-- ぼたんのやつ -->
    <a href="https://candygirl-mint.com/" target="_blank" rel="noopener noreferrer" class="header__menu--mint"><span>
      MINT SITE</span></a>
</p>
  </nav>
</div>
<!-- SPのやつ -->

<!-- カルーセルのやつ -->
<section class="fvimg" id="fvimg"></section>
<div class="carousel" >
  <div><img src="./images/img01.jpg" alt="TOPイメージ01"></div>
  <div><img src="./images/img02.jpg" alt="TOPイメージ02"></div>
  <div><img src="./images/img03.jpg" alt="TOPイメージ03"></div>
  <div><img src="./images/img04.jpg" alt="TOPイメージ04"></div>
</div>

<!-- カルーセルのやつ -->


