
  <meta charset="utf-8" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="http://candygirl-nft.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://candygirl-nft.com/images/ogp.jpg">
    <meta property="og:title" content="Candy Girl">
    <meta property="og:description" content="The NFT fine art collection “CANDY GIRL” by world renowned artist Yoshitaka Amano. It’s more than a PFP project, it offers many utilities and holder benefits." />
    <title>Page title</title>
    <link rel="icon" href="/favicon.ico" />
</head>
