<section id="ABOUT" class="about">
    <div class="about__topinner">
        <div class="about__inner">
            <h2 class="about__ttl scroll-fade">ABOUT CANDY GIRL</h2>
            <p class="jptxt scroll-fade">The NFT fine art collection “CANDY GIRL” by world renowned artist Yoshitaka Amano. It’s more than a PFP project, it offers many utilities and holder benefits.<br>
                <br>
                Our mission is to develop CANDY GIRL as a global entertainment project that brings together art, music, story, fashion, food, and digital goods.<br><br>
                We will work with NFT holders to build an ecosystem in which CANDY GIRL can flourish in both the real and digital worlds.</p>

        </div>
    </div>
</section>
<div class="main__middle" id="whats">
    <div class="main__middle--inner">
        <section class="whats">
            <div class="whats__cont">
                <div>
                    <h2 class="whats__ttl scroll-fade">What's Candy GIRL?</h2>
                    <p class="jptxt scroll-fade">"CANDY GIRL"<br>
                        At first, it was just a drop of color.<br><br>
                        
                        It became a sparkling eye - like a CANDY, grew a body, then arms and legs, and began to move as a CANDY GIRL.<br><br>
                        
                        A drop of color becomes a colorful water stream, and the world is painted over with its colors.</p>
                </div>
                <div class="whats__cont--img scroll-fade2">
                    <img src="./images/img_whtas.png" alt="What's Candy GIRL?" width="406px" height="406px"
                        loading="lazy">
                </div>
            </div>
        </section>
        <section id="amano" class="amano scroll-fade">
            <div class="amano__cont">
                <h2 class="amano__ttl scroll-fade">Yoshitaka Amano</h2>
                <p class="jptxt scroll-fade2">Born in 1952 in Shizuoka Prefecture, Japan. When he was 15, he joined the animation production company Tatsunoko Productions, where he worked on numerous character designs, including "Yatterman", "The Adventures of Hutch the Honeybee”, and "Neo-Human Casshern".<br>
                    After becoming independent, he was in charge of the logo and image illustrations for the "Final Fantasy" series, and his world view became widely known. In 2000, he was nominated for the Hugo Award and in the same year, he received the Eisner Award. His fine art series have been highly acclaimed in New York, London, and Paris. Moreover, he has held numerous solo exhibitions in Japan and abroad, attracting people beyond national borders, and continues to be active worldwide in a wide range of fields.
                </p>
            </div>
        </section>
    </div>
</div>

<div class="main__company" id="twinplanet">
    <section class="twinplanet">
        <h2 class="twinplanet__ttl scroll-fade">TWIN PLANET LOGO</h2>

        <div class="twinplanet__con">
            <div class="twinplanet__logo scroll-fade">
                <img src="./images/logo_tp.svg" alt="twinplanet LOGO">
            </div>
            <div class="twinplanet__txts">
                <p class="jptxt scroll-fade">TWIN PLANET Co., LTD. is an "IP agency" that develops a wide range of businesses in the entertainment field based on Intellectual Property.<br><br>

                    We consider not only characters, but also "people, things, and events" as IP. We maximize the value of original IP, joint IP, and influential IP by utilizing our "planning" and "creative" skills to create a buzz. We provide services in a variety of forms, including productization, promotion, and media and event development.</p>
            </div>
            <p class="twinplanet__logosp scroll-fade">
                <span>
                    <img src="./images/logo_tp.svg" alt="twinplanet LOGO">
                </span>
            </p>
        </div>
    </section>
    <div class="main__company--inner" id="astar">
    </div>
    <div class="astar__wrapper">
        <section class="astar">
            <h2 class="astar__ttl scroll-fade">Astar LOGO</h2>

            <div class="astar__con">
                <div class="astar__txts">
                    <p class="jptxt scroll-fade">Astar Network is a public blockchain from Japan, founded by Sota Watanabe.<br><br>

                        It is the third blockchain in the world to be selected for Polkadot's Parachain, which aims to connect different blockchains and create "Web3.0" core infrastructure, and is expected to have a promising future.<br><br>
                        
                        In addition, there is a system called "dApps Staking" to support app developers. As such, the company is developing an environment that facilitates the development of Web 3.0 services.</p>
                </div>
                <p class="astar__logo scroll-fade2">
                    <span>
                        <img src="./images/logo_astar.png" alt="ASTAR LOGO" width="634px" height="242px">
                    </span>
                </p>
            </div>

    </div>
</div>
</section>

</div>

<section id="RoadMap" class="roadmap">
    <div class="roadmap__inner">
        <div class="roadmap__contents">
            <h2 class="roadmap__ttl scroll-fade">Road MAP</h2>
            <div class="roadmap__flex scroll-fade">
                <div class="roadmap__fv">
                    <img src="./images/img_roadmap-new.png" alt="ROAD MAP IMAGE" width="1000px" height="564px">
                    <a class="roadmap__subttl" id="js_roadimg"><span>View RoadMap</span></a>
                </div>
                <div class="roadmap__contxt">
                    <ul class="roadmap__list">
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">2022: Launch</div>
                                <div class="roadmap__list--menu">
                                    └ At Shibuya Art Festival 2022<br>
                                    KIKKA GALLERY renewal opening<br>
                                    └ First NFT Collection Mint Sale
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 1</div>
                                <div class="roadmap__list--menu">
                                    └ Virtual modeling start<br>
                                    └ Release of music<br>
                                    └ Appearance at one of Japan's largest fashion events

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 2</div>
                                <div class="roadmap__list--menu">
                                    └ Story book sales<br>
                                    └ Expand into a place where the real and digital worlds merge


                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 3</div>
                                <div class="roadmap__list--menu">
                                    └ Appearance at a global fashion collection <br>
                                    └ Enter Virtual Musicals
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 4</div>
                                <div class="roadmap__list--menu">
                                    └ Expanding virtual musicals overseas                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal_bg"></div>

<div id="image" class="roadmap__img">
    <div class="roadmap__img--inner">
        <img src="./images/img_kakudai.jpg" width="1920" height="1080" alt="Roadmap">
    </div>
</div>  


<section id="TEAM" class="team">
    <div class="team__inner">
        <h2 class="team__ttl scroll-fade">TEAM チームメンバー</h2>
        <ul class="team__members">
            <li class="scroll-fade">
                <img src="./images/img_team01.png" width="640" height="800" class="pc" alt="@Fukuyan Founder">
                <img src="./images/img_team01sp.png" width="640" height="906" class="sp" alt="@Fukuyan Founder">
            </li>
            <li class="scroll-fade2">
                <img src="./images/img_team02.png" width="640" height="800" class="pc" alt="@Naruya TP Twin Planet Memberr">
                <img src="./images/img_team02sp.png" width="640" height="906" class="sp" alt="@Naruya TP Twin Planet Memberr">
            </li>
            <li class="scroll-fade3">
                <img src="./images/img_team03.png" width="640" height="800" class="pc" alt="@himeno Twin Planet Member">
                <img src="./images/img_team03sp.png" width="640" height="906" class="sp" alt="@himeno Twin Planet Member">
            </li>
        </ul>
        <ul class="team__members">
            <li class="scroll-fade">
                <img src="./images/img_team04.png" width="640" height="800" class="pc" alt="@Masa PM">
                <img src="./images/img_team04sp.png" width="640" height="906" class="sp" alt="@Masa PM">
            </li>
            <li class="scroll-fade">
                <img src="./images/img_team05.png" width="640" height="800" class="pc" alt="@Sota Astar - Never DM Founder of Astar">
                <img src="./images/img_team05sp.png" width="640" height="906" class="sp" alt="@Sota Astar - Never DM Founder of Astar">
            </li>
            <li class="scroll-fade">
                <img src="./images/img_team06.png" width="640" height="800" class="pc" alt="@Suguru Astar Astar Member">
                <img src="./images/img_team06sp.png" width="640" height="906" class="sp" alt="@Suguru Astar Astar Member">
            </li>
        </ul>
    </div>
</section>

<section id="terms" class="terms">
    <div class="terms__inner">
        <h2 class="terms__ttl">NFT Terms</h2>

        <div class="terms__contxt">
            <ul class="terms__list">
                <li>
                    <div class="terms__list--btn"><img src="./images/terms_arrow.svg" alt="" width="36px" height="36px"></div>
                    <div class="slidblc">
                        <div class="terms__list--ttl">CANDY GIRL NFT Terms of Use</div>
                        <div class="terms__list--menu">
                            <p class="terms__txt2">These Terms of Use define the terms and conditions of use of the CANDY GIRL NFT ("NFT") sold by Twin Planet and the digital content associated with the NFT via the Astar Network ("Content"). Those who have purchased NFTs from us or from third parties other than us ("NFT Holders") are deemed to have agreed to these Terms of Use, and their use of the NFTs and the Content shall be governed by these Terms of Use. The use of the NFT and the Content shall be governed by these Terms of Use.</p>
                            <p class="terms__txt2ttl">1. LICENCE</p>
                            <p class="terms__txt2">The Company grants to the owner of the NFT the license to use the NFT and the Content worldwide, to the extent that such use does not violate the provisions of these Terms of Use, in each of the following cases</p>
                            <p class="terms__txt2">
                                (1) Use for personal use or use within the family or other similarly limited scope<br>
                                (2) Displaying the Contents on social network services, blogs, and other media-related services on the Internet<br>
                                (3) Display the Contents on metaverse-related services on the Internet.<br>
                                (4) Sell this NFT by using NFT trading platforms and other services related to the buying and selling of NFT on the Internet for the purpose of selling this NFT.<br>
                            </p>

                            <p class="terms__txt2ttl">2. OWNERSHIP</p>
                            <p class="terms__txt2">Holders of this NFT will be entitled to preferential treatment with regard to music, stories, merchandise, events, etc. that CANDY GIRLS will develop as they spread their wings around the world in the future. (To be updated from time to time.)</p>
                            <p class="terms__txt2ttl">3. PROHIBITION OF REPRODUCTION AND SALE</p>
                            <p class="terms__txt2">The holder of this NFT shall not sell reproductions of the Content. </p>
                            <p class="terms__txt2ttl">4. PROHIBITED ACTS </p>
                            <p class="terms__txt2">Holders of this NFT shall not conduct themselves or cause a third party to conduct any of the following acts.<br>
                                (1) Use the Contents for commercial purposes<br>
                                (2) Use the Contents for the purpose of advertising or marketing the products or services of a third party<br>
                                (3) Create or issue NFTs or other tokens associated with the Contents<br>
                                (4) Conduct any act that violates laws and regulations or public order and morals with respect to the Contents<br>
                                (5) Infringing or using the Contents in a manner that infringes on the rights of any third party<br>
                                (6) Using the Contents in connection with violent, sexual, discriminatory, or cruel expressions, or expressions that infringe on the rights of others<br>
                                (7) Using the Contents in a manner that may damage the dignity or credibility of this NFT Collection [CANDY GIRL] (8) Obtaining or attempting to obtain trademark rights or other intellectual property rights in connection with the Contents<br>
                                </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="terms__list--btn"><img src="./images/terms_arrow.svg" alt="" width="36px" height="36px"></div>
                    <div class="slidblc">
                        <div class="terms__list--ttl">NFT Terms</div>
                        <div class="terms__list--menu">
                            <p class="terms__txt">・The NFT is for image data only.</p>
                            <p class="terms__txt">・The purchaser of the NFT is granted rights to exploit and/or dispose the NFT that contains information of the image data, including, but not limited to, the URL, provided, however that the purchaser is not granted any intellectual property rights, including copyright, trademarks, or the like, in and to the image data.</p>
                            <p class="terms__txt">・The NFT is for private use only. It shall not be offered to any third person beyond the scope of the private use or exploited for commercial purposes.</p>
                            <p class="terms__txt">・The author of the image data is not liable for any damage or loss the purchaser, the transferee or any other third person or party suffered in connection with the purchase or the sale of the NFT, regardless of reasons.</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section> 