<section id="ABOUT" class="about">
    <div class="about__topinner">
        <div class="about__inner">
            <h2 class="about__ttl scroll-fade">ABOUT CANDY GIRL</h2>
            <p class="jptxt scroll-fade">世界的アーティスト・天野喜孝氏が発信するファインアート『CANDY GIRL』のNFTコレクション。<br>
                単なるPFPプロジェクトではなく、多くのユーティリティとホルダーの特典を用意しております。<br>
                <br>
                私たちのミッションは、CANDY GIRLたちをアート・ミュージック・ストーリー・ファッション・フード・デジタルを複合的に掛け合わせた、グローバル・エンターテイメントを展開することです。
                <br>
                リアルとデジタル、両方の世界で、<br>
                CANDY GIRLたちが飛び回るエコシステムの構築をNFTホルダーたちと築いてまいります。</p>

        </div>
    </div>
</section>
<div class="main__middle" id="whats">
    <div class="main__middle--inner">
        <section class="whats">
            <div class="whats__cont">
                <div>
                    <h2 class="whats__ttl scroll-fade">What's Candy GIRL?</h2>
                    <p class="jptxt scroll-fade">『CANDY GIRL』<br>
                        最初は、一滴の色だった。<br><br>

                        それは、まるでCANDYのようなきらめく瞳になり、<br>
                        手足が伸び、身体が生まれ、CANDY GIRLとして動き出した。<br>
                        <br>
                        奔放な想像力と欲望のように、カラフルな濁流となってあふれだし、<br>
                        世界を、その色と光で塗り替えていった。</p>
                </div>
                <div class="whats__cont--img scroll-fade2">
                    <img src="./images/img_whtas.png" alt="What's Candy GIRL?" width="406px" height="406px"
                        loading="lazy">
                </div>
            </div>
        </section>
        <section id="amano" class="amano scroll-fade">
            <div class="amano__cont">
                <h2 class="amano__ttl scroll-fade">Yoshitaka Amano</h2>
                <p class="jptxt scroll-fade2">1952年生まれ。静岡県出身。<br>
                    15歳でアニメーション制作会社「(株)竜の子プロダクション」(現「(株)タツノコプロ」)に入社し、『タイムボカンシリーズ ヤッターマン』 『昆虫物語 みなしごハッチ』『新造人間
                    キャシャーン』など、多数のキャラクターデザインを手がける。<br>
                    独立後、「ファイナルファンタジー」シリーズのロゴ、イメージイラストを担当、天野喜孝の世界観が広く知れ渡る大きなきっかけに。<br>
                    2000年、ヒューゴー賞にノミネート。同年、アイズナー賞を受賞。ニューヨーク、ロンドン、パリなどで評価されているファインアートシリーズをはじめ、数多くの個展を国内外で開催するなど国を超えて人々を惹きつけ、現在も幅広い分野で世界的に活躍を続けている。
                </p>
            </div>
        </section>
    </div>
</div>

<div class="main__company" id="twinplanet">
    <section class="twinplanet">
        <h2 class="twinplanet__ttl scroll-fade">TWIN PLANET LOGO</h2>

        <div class="twinplanet__con">
            <div class="twinplanet__logo scroll-fade">
                <img src="./images/logo_tp.svg" alt="twinplanet LOGO">
            </div>
            <div class="twinplanet__txts">
                <p class="jptxt scroll-fade">株式会社ツインプラネットは、Intellectual
                    Property(知的財産権)を軸に、エンターテインメント分野において幅広い事業を展開する“IPエージェンシー”。<br><br>
                    キャラクターは勿論、「ヒト・モノ・コト」あらゆるコンテンツをIPとして捉え、独自IP・共同IP・有力IPの価値を“企画力”“クリエイティブ力”を活かし最大化させ話題を醸成。<br>
                    プロダクト化、プロモーション、メディア・イベント展開など、さまざまな形でサービスを実施。</p>
            </div>
            <p class="twinplanet__logosp scroll-fade">
                <span>
                    <img src="./images/logo_tp.svg" alt="twinplanet LOGO">
                </span>
            </p>
        </div>
    </section>
    <div class="main__company--inner" id="astar">
    </div>
    <div class="astar__wrapper">
        <section class="astar">
            <h2 class="astar__ttl scroll-fade">Astar LOGO</h2>

            <div class="astar__con">
                <div class="astar__txts">
                    <p class="jptxt scroll-fade">Astar Networkは、渡辺創太氏が立ち上げた日本発のパブリックブロックチェーン。<br><br>
                        異なるブロックチェーンをつなげ、web3の基幹インフラを目指すポルカドットのパラチェーンに世界で3番目に選ばれており、将来性が期待されている。<br>
                        <br>
                        また「dAppsステーキング」というアプリ開発者を支援する仕組みがあるため、web3サービスを開発しやすい環境整備を行っている。</p>
                </div>
                <p class="astar__logo scroll-fade2">
                    <span>
                        <img src="./images/logo_astar.png" alt="ASTAR LOGO" width="634px" height="242px">
                    </span>
                </p>
            </div>

    </div>
</div>
</section>

</div>

<section id="RoadMap" class="roadmap">
    <div class="roadmap__inner">
        <div class="roadmap__contents">
            <h2 class="roadmap__ttl scroll-fade">Road MAP</h2>
            <div class="roadmap__flex scroll-fade">
                <div class="roadmap__fv">
                    <img src="./images/img_roadmap-new.png" alt="ROAD MAP IMAGE" width="1000px" height="564px">
                    <a class="roadmap__subttl" id="js_roadimg"><span>View RoadMap</span></a>
                </div>
                <div class="roadmap__contxt">
                    <ul class="roadmap__list">
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">2022: Launch</div>
                                <div class="roadmap__list--menu">
                                    └渋谷芸術祭2022にて<br>
                                    　　KIKKA GALLERY リニューアルオープン<br>
                                    └第一弾NFTコレクションミントセール<br>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 1</div>
                                <div class="roadmap__list--menu">
                                    └バーチャルモデリング スタート<br>
                                    └楽曲 リリース<br>
                                    └日本最大級のファッションイベントに出演
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 2</div>
                                <div class="roadmap__list--menu">
                                    　└STORY BOOK販売<br>
                                    　└リアルとデジタルが融合した場へ進出
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 3</div>
                                <div class="roadmap__list--menu">
                                    　└世界的ファッションコレクションに出演<br>
                                    　└バーチャルミュージカルへ
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="roadmap__list--btn"></div>
                            <div class="slidblc">
                                <div class="roadmap__list--ttl">CANDY POINT 4</div>
                                <div class="roadmap__list--menu">
                                    └海外でバーチャルミュージカルを展開
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal_bg"></div>

<div id="image" class="roadmap__img">
    <div class="roadmap__img--inner">
        <img src="./images/img_kakudai.jpg" width="1920" height="1080" alt="Roadmap">
    </div>
</div>  


<section id="TEAM" class="team">
    <div class="team__inner">
        <h2 class="team__ttl scroll-fade">TEAM チームメンバー</h2>
        <ul class="team__members">
            <li class="scroll-fade">
                <img src="./images/img_team01.png" width="640" height="800" class="pc" alt="@Fukuyan Founder">
                <img src="./images/img_team01sp.png" width="640" height="906" class="sp" alt="@Fukuyan Founder">
            </li>
            <li class="scroll-fade2">
                <img src="./images/img_team02.png" width="640" height="800" class="pc" alt="@Naruya TP Twin Planet Memberr">
                <img src="./images/img_team02sp.png" width="640" height="906" class="sp" alt="@Naruya TP Twin Planet Memberr">
            </li>
            <li class="scroll-fade3">
                <img src="./images/img_team03.png" width="640" height="800" class="pc" alt="@himeno Twin Planet Member">
                <img src="./images/img_team03sp.png" width="640" height="906" class="sp" alt="@himeno Twin Planet Member">
            </li>
        </ul>
        <ul class="team__members">
            <li class="scroll-fade">
                <img src="./images/img_team04.png" width="640" height="800" class="pc" alt="@Masa PM">
                <img src="./images/img_team04sp.png" width="640" height="906" class="sp" alt="@Masa PM">
            </li>
            <li class="scroll-fade">
                <img src="./images/img_team05.png" width="640" height="800" class="pc" alt="@Sota Astar - Never DM Founder of Astar">
                <img src="./images/img_team05sp.png" width="640" height="906" class="sp" alt="@Sota Astar - Never DM Founder of Astar">
            </li>
            <li class="scroll-fade">
                <img src="./images/img_team06.png" width="640" height="800" class="pc" alt="@Suguru Astar Astar Member">
                <img src="./images/img_team06sp.png" width="640" height="906" class="sp" alt="@Suguru Astar Astar Member">
            </li>
        </ul>
    </div>
</section>


 <section id="terms" class="terms">
    <div class="terms__inner">
        <h2 class="terms__ttl">NFT Terms</h2>

        <div class="terms__contxt">
            <ul class="terms__list">
                <li>
                    <div class="terms__list--btn"><img src="./images/terms_arrow.svg" alt="" width="36px" height="36px"></div>
                    <div class="slidblc">
                        <div class="terms__list--ttl">CANDY GIRL NFT 利用規約</div>
                        <div class="terms__list--menu">
                            <p class="terms__txt2">本利用規約は、ツインプラネットが販売するCANDY GIRL NFT（以下「本NFT」といいます）及びAstar Networkを介して本NFTと紐付けられているデジタル・コンテンツ（以下「本コンテンツ」といいます）の利用条件を定めるものです。当社から本NFTをご購入された方及び当社以外の第三者から本NFTをご購入された方（以下「本ＮＦＴの保有者」といいます）は、本利用規約に同意したものとみなされ、本NFT及び本コンテンツの利用には本利用規約が適用されるものとします。</p>
                            <p class="terms__txt2ttl">第１条（ライセンス） 当社は、本NFTの保有者に対して、本NFT及び本コンテンツを全世界において、本利用規約の定めに違反しない範囲で、以下の各号の利用を行うことにつき許諾します。 (1) 個人的に又は家庭内その他これに準ずる限られた範囲内において利用すること (2) ソーシャル・ネットワーク・サービス、ブログその他のインターネット上のメディア関連サービスにおいて本コンテンツを表示すること (3) インターネット上のメタバース関連サービスにおいて、本コンテンツを表示すること (4) 本NFTの販売を目的として、インターネット上のNFT売買プラットフォームその他のNFTの売買に係るサービスを利用し、本NFTを販売すること</p>
                            <p class="terms__txt2ttl">第２条（所有権） 本NFTの保有者は、今後CANDY GIRLたちが世界へ羽ばたいていく際に展開していく音楽・ストーリー・グッズ・イベントなどについて優遇的措置を獲得できます。(随時、更新していきます。)</p>
                            <p class="terms__txt2ttl">第３条（複製販売の禁止） 本NFTの保有者は、本コンテンツの複製の販売を行ってはならないものとします。</p>
                            <p class="terms__txt2ttl">第４条（禁止行為） 本NFTの保有者は、以下の行為を自ら行い、又は第三者に行わせてはならないものとします。(1)本コンテンツを、商業利用目的で使用すること (2) 本コンテンツを、第三者の商品又はサービスの広告、マーケティング目的で使用すること (3) 本コンテンツと結びつけたNFTその他のトークンを作成、発行すること (4) 本コンテンツに関して法令又は公序良俗に違反する行為を行うこと (5) 第三者の権利を侵害し、又は侵害する態様で本コンテンツを使用すること (6) 本コンテンツを、暴力表現、性的表現、差別表現、残虐表現、又は他人の権利を侵害する表現と結びつけて使用すること (7) 本NFTコレクション【CANDY GIRL】の品位や信用を損ない又は損なうおそれのある態様で本コンテンツを使用すること (8) 本コンテンツに関連して商標権その他の知的財産権を取得し、又はその取得を試みること (9) 本コンテンツに係る著作権、商標権その他の知的財産権を侵害し、又は侵害するおそれのある行為を行うこと</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="terms__list--btn"><img src="./images/terms_arrow.svg" alt="" width="36px" height="36px"></div>
                    <div class="slidblc">
                        <div class="terms__list--ttl">NFT 売買規約</div>
                        <div class="terms__list--menu">
                            <p class="terms__txt">・本 NFT の対象は画像データです。</p>
                            <p class="terms__txt">・本 NFT の購入により、購入者は、画像データの URL 等の情報が掲載されたブロックチェーン上のトークンを利用、処分する権利が認められますが、著作権や商標権その他の知的財産権を取得することはありません。</p>
                            <p class="terms__txt">・本 NFT を家庭の範囲を越えて他人に提供することや商用目的で利用することができません。</p>
                            <p class="terms__txt">・本 NFT の購入・売買に関連して購入者または転得者その他の第三者が損害を被った場合、その損害発生の原因が如何なるものであっても、著作者は何らの法的責任も負わないものとします。</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section> 