<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta name="description" content="世界的アーティスト・天野喜孝氏が発信するファインアート『CANDY GIRL』のNFTコレクション。
  単なるPFPプロジェクトではなく、多くのユーティリティとホルダーの特典を用意しております。"/>


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
  <link rel="canonical" href="https://candygirl-nft.com/japanese.html">

  <title>Candy Girl</title>

  <%- include("./template/_head.ejs") %>

  <link rel="stylesheet" href="./style/index.scss" />
  <body id="home">
    <div class="content">
    <%- include("./template/_header.ejs") %>

    <main id="main" class="main">

      <%- include("./template/_mainjp.ejs") %>

    </main>
  </div>
    <%- include("./template/_footer.ejs") %>

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" charset="utf-8" src="./script/script.js"></script>
<!-------------------JS---------------------------------------------------------------->  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<!------------------------------------------------------------------------------------->  

  

  <script>

$(function () {
  $('.carousel').slick({
    autoplay: true,
    autoplaySpeed: 2000,
    infinite: true,
    arrows: true,
    dots: false,

  });
});
  </script>

  </body>

  
</html>
