<html>
  <%- include("/template/_head.ejs") %>
  <body>
    <%- include("../template/_header.ejs") %>
    <div>index.ejs</div>
    <img src="/sample.png"/>
    <%- include("../template/_footer.ejs") %>
  </body>
</html>
<link rel="stylesheet" href="./style/index.scss" />
